{% if outerTable %}
{{ void(outerTable.begin()) }}
{% endif %}
<table width="560" cellpadding="0" cellspacing="0" border="0" align="center"
       class="devicewidthinner" bgcolor="{{ bgColor }}">
    <tbody>
    <tr>
        <td>
            <table width="520" cellpadding="0" cellspacing="0" border="0" align="center"
                   class="devicewidthinner" bgcolor="{{ bgColor }}">
                <tbody>
                {{ space.widget() | raw }}

                {{ content | raw }}

                {{ space.widget() | raw }}
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
{% if outerTable %}
    {{ void(outerTable.end()) }}
{% endif %}
