{% embed "modules/notification/views/layouts/html.twig" %}

    {% block title %}
        {{ t('mail.booking_confirmed_renter.title', 'The rent is confirmed - celebrate!') | raw }}
    {% endblock %}

    {% block headerimage %}
        {{ imageUrl('kidup/email/headers/blue_3.jpg') | raw }}
    {% endblock %}

    {% block content %}

        <table id="image-left" width="100%">
            <tr>
                <td width="40%">
                    {{ responsiveImage('kidup/email/image-blue-girl.png') | raw }}
                </td>
                <td width="60%" class="image-left__content">
            <h3>{{ t('mail.booking_confirmed_renter.t1', 'You have rented {item_name} - hurrah!', {
                    'item_name': item_name
                }) | raw }}</h3>
                    <p>
                        {{ t('mail.booking_confirmed_renter.p1',
                            'I am happy to tell you, that {owner_name} has accepted your request for item on {booking_start}.', {
                            'owner_name': owner_name,
                            'booking_start': booking_start_date,
                            'start_date': booking_start_date,
                            'item_name': item_name
                        }) | raw }}
                    </p>
                </td>
            </tr>
        </table>

        <table id="image-right" width="100%">
            <tr>
                <td width="60%" class="image-left__content">
                    <h3>{{ t('mail.booking_confirmed_renter.t2', 'Now you can chat with {owner_name}', {
                            'owner_name': owner_name
                        }) | raw }}</h3>
                    <p>
                        {{ t('mail.booking_confirmed_renter.p2',
                        'To make the exchange even easier, I suggest you continue the conversation with {owner_name} in the app’s {messaging_link}.', {
                            'messaging_link': '<a href="' ~ contact_owner_url ~ '" target="_blank">' ~ t('mail.links.messaging_tab', 'messaging tab') ~ '</a>',
                            'owner_name': owner_name,
                        }) | raw }}
                        {% if owner_phone_url == null %}
                            {{ t('mail.booking_confirmed_renter.p3_1',
                            'Or you can contact the user on {email_link}.', {
                                'email_link': '<a href="' ~ owner_email_url ~ '" target="_blank">' ~ t('mail.links.email', 'email') ~ '</a>'
                            }) | raw }}
                        {% else %}
                            {{ t('mail.booking_confirmed_renter.p3_2',
                            'Or you can contact the user on the {phone_link} or {email_link}.', {
                                'phone_link': '<a href="' ~ owner_phone_url ~ '" target="_blank">' ~ t('mail.links.phone', 'phone') ~ '</a>',
                                'email_link': '<a href="' ~ owner_email_url ~ '" target="_blank">' ~ t('mail.links.email', 'email') ~ '</a>'
                            }) | raw }}
                        {% endif %}
                    </p>
                </td>
                <td width="40%">
                    {{ responsiveImage('kidup/email/image-green-message.png') | raw }}
                </td>
            </tr>
        </table>

        <table id="image-left" width="100%">
            <tr>
                <td width="40%">
                    {{ responsiveImage('kidup/email/image-yellow-girl.png') | raw }}
                </td>
                <td width="60%" class="image-left__content">
                    <h3>{{ t('mail.booking_confirmed_renter.t3', 'So you can agree on a place to meet') }}</h3>
                    <p>
                        {{ t('mail.booking_confirmed_renter.p4',
                        'You should make sure you meet up at the same place, at the same time, and that no problems should arise before the rent starts.'
                        ) | raw }}
                    </p>
                </td>
            </tr>
        </table>

        {% embed "modules/notification/views/widget/receipt.twig" %}
            {% block booking_start_date %}{{ booking_start_date | raw }}{% endblock %}
            {% block booking_end_date %}{{ booking_end_date | raw }}{% endblock %}
        {% endembed %}

        <table id="text-center" width="100%">
            <tr>
                <td>
                    <p>
                        {{ t('mail.booking_confirmed_renter.p5',
                        'Thanks for using KidUp, and for sharing.'
                        ) | raw }}
                    </p>
                </td>
            </tr>
        </table>

    {% endblock %}

{% endembed %}