{% embed "modules/notification/views/layouts/html.twig" %}

    {% block title %}
        {{ t('mail.booking_start_renter.title', 'Remember your rent! It is starting soon') | raw }}
    {% endblock %}

    {% block headerimage %}
        {{ imageUrl('kidup/email/headers/blue_2.jpg') | raw }}
    {% endblock %}

    {% block content %}

        <table id="image-left" width="100%">
            <tr>
                <td width="40%">
                    <img src="{{ imageUrl('kidup/email/image-green-girl.png') }}" width="100%" alt="Image">
                </td>
                <td width="60%" class="image-left__content">
                    <h3>{{ t('mail.booking_start_renter.t1', 'Remember, remember') }}</h3>
                    <p>
                        {{ t('mail.booking_start_renter.p1',
                            'This is a reminder that your renting {item_name} from {owner_name} on {booking_start}.', {
                            'item_name': item_name,
                            'owner_name': owner_name
                            'booking_start': booking_start_date
                        }) | raw }}
                        {% if owner_phone_url == null %}
                            {{ t('mail.booking_start_renter.p2_1',
                            'If you need to plan the last few things you could contact {owner_name} through the {app_link}. Or through {email_link}.', {
                                'owner_name': owner_name,
                                'app_link': '<a href="' ~ app_url ~ '" target="_blank">' ~ t('mail.links.app', 'app') ~ '</a>',
                                'email_link': '<a href="' ~ owner_email_url ~ '" target="_blank">' ~ t('mail.links.email', 'email') ~ '</a>'
                            }) | raw }}
                        {% else %}
                            {{ t('mail.booking_start_renter.p2_2',
                            'If you need to plan the last few things you could contact {owner_name} through the {app_link}. Or through the {phone_link} or {email_link}.', {
                                'owner_name': owner_name,
                                'app_link': '<a href="' ~ app_url ~ '" target="_blank">' ~ t('mail.links.app', 'app') ~ '</a>',
                                'phone_link': '<a href="' ~ owner_phone_url ~ '" target="_blank">' ~ t('mail.links.phone', 'phone') ~ '</a>',
                                'email_link': '<a href="' ~ owner_email_url ~ '" target="_blank">' ~ t('mail.links.email', 'email') ~ '</a>'
                            }) | raw }}
                        {% endif %}
                    </p>
                </td>
            </tr>
        </table>

        <table id="image-right" width="100%">
            <tr>
                <td width="60%" class="image-right__content">
                    <h3>{{ t('mail.booking_start_renter.t2', 'We are one big family') }}</h3>
                    <p>
                    {{ t('mail.booking_start_renter.p3',
                        'Remember that KidUp is all about trust and being together about being a parent. So make sure you go through the equipment when you meet up, so that the expectations are aligned, before the handover.'
                    ) | raw }}
                    </p>
                    <p>
                        {{ t('mail.booking_start_renter.p4',
                            'You can see the full details of the rental in the {app_link}.', {
                            'app_link': '<a href="' ~ app_url ~ '" target="_blank">' ~ t('mail.links.app', 'app') ~ '</a>'
                        }) | raw }}
                    </p>
                </td>
                <td width="40%">
                    <img src="{{ imageUrl('kidup/email/image-blue-couple.png') }}" width="100%" alt="Image">
                </td>
            </tr>
        </table>

    {% endblock %}

{% endembed %}