{% embed "modules/notification/views/layouts/html.twig" %}

    {% block title %}
        {{ t('mail.booking_confirmed_owner.title', 'The rent is confirmed - celebrate!') | raw }}
    {% endblock %}

    {% block headerimage %}
        {{ imageUrl('kidup/email/headers/green_1.jpg') | raw }}
    {% endblock %}

    {% block content %}

        <table id="image-left" width="100%">
            <tr>
                <td width="40%">
                    {{ responsiveImage('kidup/email/image-blue-couple.png') | raw }}
                </td>
                <td width="60%" class="image-left__content">
                    <h3>{{ t('mail.booking_confirmed_owner.t1', 'You have a rental') }}</h3>
                    <p>
                        {{ t('mail.booking_confirmed_owner.p1',
                        'I am happy to tell you, that another parent have booked item. To make the exchange even easier, I suggest you continue the conversation with {renter_name} in the app’s {messaging_link}.', {
                            'messaging_link': '<a href="' ~ contact_renter_url ~ '" target="_blank">' ~ t('mail.links.messaging_tab', 'messaging tab') ~ '</a>',
                            'renter_name': renter_name,
                            'item_name': item_name
                        }) | raw }}

                        {% if renter_phone_url == null %}
                            {{ t('mail.booking_confirmed_owner.p2_1',
                            'Or you can contact the user on {email_link}.', {
                                'email_link': '<a href="' ~ renter_email_url ~ '" target="_blank">' ~ t('mail.links.email', 'email') ~ '</a>'
                            }) | raw }}
                        {% else %}
                            {{ t('mail.booking_confirmed_owner.p2_2',
                            'Or you can contact the user on the {phone_link} or {email_link}.', {
                                'phone_link': '<a href="' ~ renter_phone_url ~ '" target="_blank">' ~ t('mail.links.phone', 'phone') ~ '</a>',
                                'email_link': '<a href="' ~ renter_email_url ~ '" target="_blank">' ~ t('mail.links.email', 'email') ~ '</a>'
                            }) | raw }}
                        {% endif %}
                    </p>
                </td>
            </tr>
        </table>

        <table id="image-right" width="100%">
            <tr>
                <td width="60%" class="image-right__content">
                    <h3>{{ t('mail.booking_confirmed_owner.t2', 'Where and when to meet up?') }}</h3>
                    <p>
                        {{ t('mail.booking_confirmed_owner.p3',
                        'You should make sure you meet up at the same place, at the same time, and that no problems should arise before the rent starts.'
                        ) | raw }}
                    </p>
                </td>
                <td width="40%">
                    {{ responsiveImage('kidup/email/image-yellow-girl.png') | raw }}
                </td>
            </tr>
        </table>

    {% endblock %}

{% endembed %}