{% embed "modules/notification/views/layouts/htmlv2.twig" %}

    {% block title %}
        {{ t('mail.booking_confirmed_owner.title', title) | raw }}
    {% endblock %}

    {% block headerimage %}
        {{ base64_image('@notification-assets/images/headers/green_1.jpg') | raw }}
    {% endblock %}

    {% block content %}

        <p>
            {{ t('mail.booking_confirmed_owner.p1',
                'I am happy to tell you, that another parent have booked item. To make the exchange even easier, I suggest you continue the conversation with {renter_name} in the app’s {messaging_link}.', {
                'messaging_link': '<a href="' ~ contact_renter_url ~ '" target="_blank">' ~ t('mail.links.messaging_tab', 'messaging tab') ~ '</a>',
                'renter_name': renter_name
            }) | raw }}
        </p>

        <p>
            {{ t('mail.booking_confirmed_owner.p2',
            'Or you can contact the user on the {phone_link} or {email_link}.', {
                'phone_link': '<a href="' ~ renter_phone_url ~ '" target="_blank">' ~ t('mail.links.phone', 'phone') ~ '</a>',
                'email_link': '<a href="' ~ renter_email_url ~ '" target="_blank">' ~ t('mail.links.email', 'email') ~ '</a>'
            }) | raw }}
        </p>

        <p>
            {{ t('mail.booking_confirmed_owner.p3',
                'You should make sure you meet up at the same place, at the same time, and that no problems should arise before the rent starts.'
            ) | raw }}
        </p>

    {% endblock %}

{% endembed %}