{% embed "modules/notification/views/layouts/html.twig" %}

    {% block title %}
        {{ t('mail.review_request.title', '3 or 5 stars, who knows?') | raw }}
    {% endblock %}

    {% block headerimage %}
        {{ base64_image('@notification-assets/images/headers/blue_5.jpg') | raw }}
    {% endblock %}

    {% block content %}

        <table id="image-right" width="100%">
            <tr>
                <td width="60%" class="image-right__content">
                    <h3>{{ t('mail.review_request.t1', 'It is like a video game - stars matter!') }}</h3>
                    <p>
                        {{ t('mail.review_request.p1',
                        'Hurrah! I hope you had an awesome experience using KidUp. Now you can make a review of {reviewed_user}.', {
                            'reviewed_user': reviewed_user
                        }) | raw }}
                        {{ t('mail.review_request.p2',
                        'It only takes 20 seconds, and helps authenticate users, and highlight the good parents of KidUp. So help us help you, by making a review.'
                        ) | raw}}
                    </p>
                    <a class="button button--green" href="{{ review_url | raw }}" target="_blank">{{ t('mail.links.review_now', 'Review now') | raw }}</a>
                </td>
                <td width="40%">
                    <img src="{{ base64_image('@notification-assets/images/image-blue-couple.png') }}" width="100%" alt="Image">
                </td>
            </tr>
        </table>

    {% endblock %}

{% endembed %}