{% embed "modules/notification/views/layouts/htmlv2.twig" %}

    {% block title %}
        {{ t('mail.user_welcome.title', title) | raw }}
    {% endblock %}

    {% block headerimage %}
        {{ base64_image('@notification-assets/images/headers/blue_7.jpg') | raw }}
    {% endblock %}

    {% block content %}

        <p>
            {{ t('mail.welcome.p1',
            'Welcome to KidUp! A world of knowledge, love and dozens of unused children equipment. {rent_link} something now or rent you {rent_out_link}.', {
                'rent_link': '<a href="' ~ rent_url ~ '" target="_blank">' ~ t('mail.links.rent_uppercase', 'Rent') ~ '</a>',
                'rent_out_link': '<a href="' ~ rent_out_url ~ '" target="_blank">' ~ t('mail.links.equipment_out', 'equipment out') ~ '</a>'
            }) | raw }}
        </p>

        <p>
            {{ t('mail.welcome.p2',
                'Have you had the chance to fill out your {profile_link} yet? If you do, other parents will have the chance to get to know you a little better, and it is easier to trust your KidUp-persona.', {
                'profile_link': '<a href="' ~ profile_url ~ '" target="_blank">' ~ t('mail.links.profile', 'profile') ~ '</a>'
            }) | raw }}
        </p>

        <p>
            {{ t('mail.welcome.p3',
            'Have you had the chance to fill out your {social_media_link} yet? If you do, other parents will have the chance to get to know you a little better, and it is easier to trust your KidUp-persona.', {
                'social_media_link': '<a href="' ~ social_media_url ~ '" target="_blank">' ~ t('mail.links.social_media', 'social media') ~ '</a>'
            }) | raw }}
        </p>

        <p>
            {{ t('mail.welcome.p4',
            'If you have questions, feedback or just wants to chat feel free to contact me - Philip, in the {app_link}. Read the {faq_link} or send me an {mail_link_support}.', {
                'app_link': '<a href="' ~ app_url ~ '" target="_blank">' ~ t('mail.links.app', 'app') ~ '</a>',
                'mail_link_support': '<a href="mailto:' ~ email_support ~ '" target="_blank">' ~ t('mail.links.email', 'email') ~ '</a>',
                'faq_link': '<a href="' ~ faq_url ~ '">' ~ t('mail.links.faq', 'FAQ') ~ '</a>'
            }) | raw }}
        </p>

        <p>
            {{ t('mail.welcome.p5',
                'Have an nice day, and yet again, welcome.'
            ) | raw }}
        </p>

        <p>
            {{ t('mail.welcome.p6',
            'Philip & KidUp'
            ) | raw }}
        </p>

    {% endblock %}

{% endembed %}