{% embed "modules/notification/views/layouts/html.twig" %}

    {% block title %}
        {{ t('mail.user_welcome.title', title) | raw }}
    {% endblock %}

    {% block headerimage %}
        {{ base64_image('@notification-assets/images/headers/blue_7.jpg') | raw }}
    {% endblock %}

    {% block content %}

        <table id="image-left" width="100%">
            <tr>
                <td width="40%">
                    <img src="{{ base64_image('@notification-assets/images/image-blue-girl.png') }}" width="100%" alt="Image">
                </td>
                <td width="60%" class="image-left__content">
                    <h3>Title h3</h3>
                    <p>
                        {{ t('mail.welcome.p1',
                        'Welcome to KidUp! A world of knowledge, love and dozens of unused children equipment. {rent_link} something now or rent you {rent_out_link}.', {
                            'rent_link': '<a href="' ~ rent_url ~ '" target="_blank">' ~ t('mail.links.rent_uppercase', 'Rent') ~ '</a>',
                            'rent_out_link': '<a href="' ~ rent_out_url ~ '" target="_blank">' ~ t('mail.links.equipment_out', 'equipment out') ~ '</a>'
                        }) | raw }}
                    </p>
                </td>
            </tr>
        </table>

        <table id="image-right" width="100%">
            <tr>
                <td width="60%" class="image-right__content">
                    <h3>Title h3</h3>
                    <p>
                        {{ t('mail.welcome.p2',
                        'Have you had the chance to fill out your {profile_link} yet? If you do, other parents will have the chance to get to know you a little better, and it is easier to trust your KidUp-persona.', {
                            'profile_link': '<a href="' ~ profile_url ~ '" target="_blank">' ~ t('mail.links.profile', 'profile') ~ '</a>'
                        }) | raw }}
                    </p>
                </td>
                <td width="40%">
                    <img src="{{ base64_image('@notification-assets/images/image-yellow-girl.png') }}" alt="Image" width="100%">
                </td>
            </tr>
        </table>

        <table id="image-left" width="100%">
            <tr>
                <td width="40%">
                    <img src="{{ base64_image('@notification-assets/images/image-blue-couple.png') }}" width="100%" alt="Image">
                </td>
                <td width="60%" class="image-left__content">
                    <h3>Title h3</h3>
                    <p>
                        {{ t('mail.welcome.p3',
                        'Have you had the chance to fill out your {social_media_link} yet? If you do, other parents will have the chance to get to know you a little better, and it is easier to trust your KidUp-persona.', {
                            'social_media_link': '<a href="' ~ social_media_url ~ '" target="_blank">' ~ t('mail.links.social_media', 'social media') ~ '</a>'
                        }) | raw }}
                    </p>
                </td>
            </tr>
        </table>

        <table id="image-right" width="100%">
            <tr>
                <td width="60%" class="image-right__content">
                    <h3>Title h3</h3>
                    <p>
                        {{ t('mail.welcome.p4',
                            'If you have questions, feedback or just wants to chat feel free to contact me - Philip, in the {app_link}. Read the {faq_link} or send me an {mail_link_support}.', {
                            'app_link': '<a href="' ~ app_url ~ '" target="_blank">' ~ t('mail.links.app', 'app') ~ '</a>',
                            'mail_link_support': '<a href="mailto:' ~ email_support ~ '" target="_blank">' ~ t('mail.links.email', 'email') ~ '</a>',
                            'faq_link': '<a href="' ~ faq_url ~ '">' ~ t('mail.links.faq', 'FAQ') ~ '</a>'
                        }) | raw }}
                    </p>
                </td>
                <td width="40%">
                    <img src="{{ base64_image('@notification-assets/images/image-green-message.png') }}" alt="Image" width="100%">
                </td>
            </tr>
        </table>

        <table id="text-center" width="100%">
            <tr>
                <td>
                    <p>
                        {{ t('mail.welcome.p5',
                            'Have an nice day, and yet again, welcome.'
                        ) | raw }}
                        <br />
                        {{ t('mail.welcome.p6',
                        'Philip & KidUp'
                        ) | raw }}
                    </p>
                </td>
            </tr>
        </table>

    {% endblock %}

{% endembed %}