{% embed "modules/notification/views/layouts/html.twig" %}

    {% block title %}
        {{ t('mail.user_recovery.title', 'I got your password') | raw }}
    {% endblock %}

    {% block headerimage %}
        {{ imageUrl('kidup/email/headers/blue_6.jpg') | raw }}
    {% endblock %}

    {% block content %}

        <table id="image-right" width="100%">
            <tr>
                <td width="60%" class="image-right__content">
                    <h3>{{ t('mail.user_recovery.t1', 'I can get you a new password') }}</h3>
                    <p>
                        {{ t('mail.user_recovery.p1',
                        'Did you ask for me to try to recover you password? I could not find it, but if you want a new one you can {recovery_link}.', {
                            'recovery_link': '<a href="' ~ recovery_url ~ '" target="_blank">' ~ t('mail.links.click_this_link', 'click this link') ~ '</a>'
                        }) | raw }}
                        {{ t('mail.user_recovery.p2',
                            'If this mail was not requested by you, then just ignore it.'
                        ) | raw }}
                    </p>
                    <a class="button button--green" href="{{ url }}">{{ t('mail.button.recover_password', 'Recover password') }}</a>
                </td>
                <td width="40%">
                    {{ responsiveImage('kidup/email/image-blue-gull.png') | raw }}
                </td>
            </tr>
        </table>

    {% endblock %}

{% endembed %}