{{ register_asset_bundle("search/assets/SearchPageAsset") }}
{{ void(setTitle(this, t("search.title", "Search Kid Stuff"))) }}
{{ void(this.registerJsVariables({
    reset: t("search_page.filter.reset_filter", "Reset Filter"),
    price: t("search_page.filter.header_price", "Price"),
    categories: t("search_page.filter.header_categories", "Categories"),
    condition: t("search_page.filter.header_condition", "Condition"),
    no_reviews: t("search_page.item_no_reviews", "Not reviewed"),
}, 'i18n')) }}
<div id="search">
    <section class="section" id="search-cards">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-lg-2" id="search-sidebar" style="min-width:20%;">
                    <div class="card card-refine hidden-sm hidden-xs">
                        <div class="header">
                            <h4 class="title">
                                {{ t("search.header_filter", "Filter") }}
                                <span class="pull-right">
                                    <small id="clear-all"></small>
                                </span>
                            </h4>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    {{ t("search.filters.location", "Location") }}
                                </h6>
                            </div>
                            <div id="refine-location" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <input type="text" class="form-control"
                                           placeholder="{{ t("search_page.filter.location_input_placeholder", "Location") }}"
                                           id="location">
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div id="refine-location" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div id="price"></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div id="refine-location" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div id="categories"></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div id="refine-location" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div id="conditions"></div>
                                </div>
                            </div>
                        </div>

                        <div id="sort-by-container"></div>
                    </div>
                    <!-- end card -->
                </div>
                <div class="col-md-9 col-lg-10 searchResultsWrapper">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="searchResults" id="results">
                                <div class="row">
                                    <div style="padding:4px;">
                                        <i id="stats-container"></i>
                                    </div>
                                    <div id="hits-container"></div>
                                </div>
                            </div>
                            <nav id="pagination-container" style="margin: auto;width: 400px;"></nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div style="display: none;">
        <div id="item-template">
            {{ this.render("search-result-template.php") | raw }}
        </div>
    </div>

    <!-- mobile filters -->

    {#<div class="buttonContainer" style="z-index:10;">#}
        {#<button type="button" class="btn btn-danger btn-md visible-xs visible-sm btn-fill" data-toggle="modal"#}
                {#data-target="#mobileFiltersModal" id="filter-button" style="z-index:10;">#}
            {#{{ t("search.filters_header", "Filters") }}#}
        {#</button>#}
    {#</div>#}

    {#{{ use("yii/bootstrap") }}#}
    {#{{ void(modal_begin({#}
        {#'options' : {#}
            {#'class' : 'modal modal-fullscreen force-fullscreen',#}
            {#'id' : 'mobileFiltersModal'#}
        {#},#}
        {#'closeButton' : false,#}
        {#'header' : t("search.mobile_search_filters", "Search Filters")#}
    {#})) }}#}

    {#<button type="button" class="close" data-dismiss="modal" aria-hidden="true">#}
        {#<i class="fa fa-close"></i>#}
    {#</button>#}

    {#{{ void(modal_end()) }}#}
</div>

{{ use("app/widgets/SignupModal") }}
{{ signup_modal_widget() | raw }}