{{ void(table.begin({bgColor: 'white'})) }}

{{ void(textBlock.begin()) }}
<p style="text-align: left; font-size: 20px;font-weight: 700;">
    Hej {{ vm.userName }}
</p>
{{ space.widget() }}
<p style="text-align: left;">
    Du har {{ vm.daysLeft }} dage tilbage til at skrive en anmeldelse
    af {{ otherName }}.
</p>
{{ void(textBlock.end()) }}

{{ void(table.end()) }}

{{ button.widget({
    content: t("mail.recovery.link", "Write a Review"),
    url: vm.reviewUrl,
    wide: true
}) | raw }}

{{ void(table.begin({bgColor: 'white'})) }}

{{ void(textBlock.begin()) }}
<p style="text-align: left;">
    Når både du og {{ otherName }} skriver en anmeldelse,
    offentliggøres de.
    Hvis kun en af jer skriver en anmeldelse for anmeldelsesperioden på
    14 dage,
    offentliggør vi den stadig. Netværkets lejere og udlejere er
    afhængige af
    ærlige omtaler, når de lejer og udlejer deres udstyr.
</p>
{{ void(textBlock.end()) }}

{{ void(table.end()) }}
