{{ void(table.begin({bgColor: 'white'})) }}

{{ void(textblock.begin()) }}
<p style="text-align: left; font-size: 20px;font-weight: 700;">
    Hej {{ vm.userName }}
</p>
{{ space.widget() }}
<p style="text-align: left;">
    Skriv en omtale af {{ vm.otherName }}. I har begge 14 dage til at
    skrive jeres
    omtaler, og når de begge er skrevet, eller når omtaleperioden er
    udløbet,
    kan du se, hvad den anden person har skrevet.
</p>
{{ void(textblock.end()) }}

{{ void(table.end()) }}

{{ button.widget({
    content: t("mail.recovery.link", "Write a Review"),
    url: vm.reviewUrl,
    wide: true
}) | raw }}

{{ void(table.begin({bgColor: 'white'})) }}

{{ void(textblock.begin()) }}
<p style="text-align: left;">
    Tak fordi du delte dine overvejelser, og dermed hjælper os med at
    gøre KidUp meget bedre.
</p>
{{ void(textblock.end()) }}

{{ void(table.end()) }}