<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Mail{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        @font-face {
            font-family: "Gotham Rounded";
            src: url(https://s3.eu-central-1.amazonaws.com/kidup-main-content/fonts/GothamRnd-Bold.otf);
            font-weight: bold;
        }

        @font-face {
            font-family: "Gotham Rounded";
            src: url(https://s3.eu-central-1.amazonaws.com/kidup-main-content/fonts/GothamRnd-Light.otf);
            font-weight: normal;
        }

        #action-module {
            background-image: url({{ imageUrl('kidup/email/pattern.png') | raw }});
        }

        .icon--share {
            background-image: url({{ imageUrl('kidup/email/share.png') | raw }});
        }

        .icon--forward {
            background-image: url({{ imageUrl('kidup/email/forward.png') | raw }});
        }

        {{ load_file('@notification-assets/css/style.css') | raw }}
        {{ load_file('@notification-assets/css/responsive.css') | raw }}
    </style>
</head>
<body>

<!-- Max-width hack for MSO -->
<!--[if (gte mso 9)|(IE)]>
<center>
<table>
<tr>
<td width="980">
<![endif]-->

<div style="text-align: center;">
    <table id="container" width="100%">
        <tr>
            <td>
                <!-- Header -->
                {% block header %}
                <style>
                    #header {
                        background-size: cover;
                    }
                </style>
                <table id="header" width="100%" background="{% block headerimage %}{{ imageUrl('kidup/email/image-header.png') | raw }}{% endblock %}">
                    <tr>
                        <td>
                            <h1>{{ block('title') }}</h1>
                            <p class="subtitles">{% block subtitle %}{% endblock %}</p>
                        </td>
                    </tr>
                </table>
                {% endblock %}

                <center>
                <!--[if mso]>
                <table width=680>
                <div style="width:0px; height:0px; overflow:hidden; display:none; visibility:hidden; mso-hide:all;">
                <![endif]-->
                <table style="width: 100%; max-width: 680px;"
                <!--[if mso]>
                </div>
                <![endif]-->
                <tr>
                <td>

                {% block content %}
                    Content
                {% endblock %}

                </td>
                </tr>
                </table>
                </center>

                <!-- Logo -->
                <table id="logo-blue" width="100%">
                    <tr>
                        <td>
                            {{ responsiveImage('kidup/email/logo.png') | raw }}
                        </td>

                    </tr>
                </table>

                <!-- Social -->
                <table id="follow-us" width="100%">
                    <tr width="100%">
                        <td colspan="2">
                            <a href="https://www.facebook.com/kidup.social" target="_blank" class="button button--blue">
                                <span class="icon icon--share"></span>Follow us on Facebook
                            </a>
                        </td>
                    </tr>
                </table>

                <!-- The footer -->
                <table id="copyrights" width="100%">
                    <tr>
                        <td>
                            <p>Copyright &copy; 2016 KidUp, All rights reserved.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Want to change how you receive these emails? You can
                                <a href="#">update your preferences</a>
                                or
                                <a href="#">unsubscribe</a>
                                from this list
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<!-- Max-width hack for MSO -->
<!--[if mso]>
</td>
</tr>
</table>
</center>
<![endif]-->

</body>
</html>
