<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Mail{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        @font-face {
            font-family: "Gotham Rounded";
            src: url({{ base64_font('@notification-assets/fonts/GothamRnd-Bold.otf') | raw }});
            font-weight: bold;
        }

        @font-face {
            font-family: "Gotham Rounded";
            src: url({{ base64_font('@notification-assets/fonts/GothamRnd-Light.otf') | raw }});
            font-weight: normal;
        }

        #action-module {
            background-image: url({{ base64_image('@notification-assets/images/pattern.png') | raw }});
        }

        .icon--share {
            background-image: url({{ base64_image('@notification-assets/images/share.png') | raw }});
        }

        .icon--forward {
            background-image: url({{ base64_image('@notification-assets/images/forward.png') | raw }});
        }

        {{ load_file('@notification-assets/css/style.css') | raw }}
        {{ load_file('@notification-assets/css/responsive.css') | raw }}
    </style>
</head>
<body>
<table id="container" width="100%">
    <tr>
        <td>
            <!-- Header -->
            {% block header %}
            <table id="header" width="100%" style="background-image: url({% block headerimage %}{{ base64_image('@notification-assets/images/image-header.png') | raw }}{% endblock %}); background-size: cover;">
                <tr>
                    <td>
                        <h1>{{ block('title') }}</h1>
                        <p class="subtitles">{% block subtitle %}{% endblock %}</p>
                    </td>
                </tr>
            </table>
            {% endblock %}

            {% block content %}
                Content
            {% endblock %}

            <!-- Logo -->
            <table id="logo-blue" width="100%">
                <tr>
                    <td>
                        <img src="{{ base64_image('@notification-assets/images/logo.png') | raw }}" alt="KidUp" width="30%">
                    </td>

                </tr>
            </table>

            <!-- Social -->
            <table id="follow-us" width="100%">
                <tr width="100%">
                    <td colspan="2">
                        <a href="https://www.facebook.com/kidup.social" target="_blank" class="button button--blue">
                            <span class="icon icon--share"></span>Follow us on Facebook
                        </a>
                    </td>
                </tr>
            </table>

            <!-- The footer -->
            <table id="copyrights" width="100%">
                <tr>
                    <td>
                        <p>Copyright &copy; 2015 KidUp, All rights reserved.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            Want to change how you receive these emails? You can
                            <a href="#">update your preferences</a>
                            or
                            <a href="#">unsubscribe</a>
                            from this list
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
