{{ void(table.begin({bgColor: 'white'})) }}

{{ void(textBlock.begin()) }}
<p style="text-align: center;">
    Hej {{ userName }}
</p>
<p style="text-align: left;">
    Velkommen til KidUp! For at komme i gang, skal du gennemføre
    email-verificering ved at bekræfte din e-mail adresse.
</p>
{{ void(textBlock.end()) }}

{{ void(table.end()) }}

{{ button.widget({
    content: t("mail.recovery.link", "Bekræft email"),
    url: urls.verify,
    wide: true
}) | raw }}

