{# green header #}
{{ void(table.begin({bgColor: '#71baaf'})) }}

    {# title #}
    {{ void(textBlock.begin()) }}
        {{ void(paragraph.begin({align:'center', size:18})) }}
            Velkommen til KidUp!
        {{ void(paragraph.end()) }}
    {{ void(textBlock.end()) }}

    {# spacing #}
    {{ space.widget({height:10}) | raw }}
    {{ line.widget({color:"#FFFFFF"}) | raw }}
    {{ space.widget({height:10}) | raw }}

    {# description #}
    {{ void(textBlock.begin()) }}
        {{ void(paragraph.begin({align:'center'})) }}
            Opdag og book unikt børneudstyr af lokale familier i hele verden –
            fra børnesæder og barnevogne til cykler og trampoliner.
            <br />
            <strong>Fortæl os om dig selv</strong>
        {{ void(paragraph.end()) }}
    {{ void(textBlock.end()) }}

{{ void(table.end()) }}

{{ void(outerTable.begin()) }}
{{ void(table.begin({bgColor: '#FFFFFF', outerTable: false})) }}
    {{ void(column.begin({width: 200, align: left})) }}
        <div class="imgpop">
            <img
                    src="{{ imageUrl('kidup/graphics/find.png') | raw }}"
                    alt="" border="0" width="150"
                    height="150"
                    style="display:block; border:none; outline:none; text-decoration:none;"
                    class="col2img" st-image="edit"
                    id="gcxt4sjjt76i529">
        </div>
    {{ void(column.end()) }}
    {{ void(column.begin({width: 350, align: left})) }}
        {{ title.widget({content: 'Fortæl os om dig selv'}) | raw }}
        {{ space.widget({height:10}) | raw }}
        {{ void(textBlock.begin()) }}
        Færdiggør din profil ved at skrive en kort biografi og fortælle, hvor mange børn du har, så dine potentielle udlejere kan lære dig lidt at kende.
        {{ void(textBlock.end()) }}
        {{ space.widget({height:10}) | raw }}
        {{ button.widget({'content': 'Færdiggør profil', 'url': vm.profileUrl, 'wide': false}) | raw }}
    {{ void(column.end()) }}
{{ void(table.end()) }}

{{ void(table.begin({bgColor: '#FFFFFF', outerTable: false})) }}
    {{ void(column.begin({width: 200, align: left})) }}
        <div class="imgpop">
            <img
                    src="{{ imageUrl('kidup/graphics/photograph.png') | raw }}"
                    alt="" border="0" width="150"
                    height="150"
                    style="display:block; border:none; outline:none; text-decoration:none;"
                    class="col2img" st-image="edit"
                    id="gcxt4sjjt76i529">
        </div>
    {{ void(column.end()) }}
    {{ void(column.begin({width: 350, align: left})) }}
        {{ title.widget({content: 'Verificer dine oplysninger'}) | raw }}
        {{ space.widget({height:10}) | raw }}
        {{ void(textBlock.begin()) }}
        Overvej at forbinde din sociale netværk, og verificer din e-mail, dit telefonnummer og din offline identifikation hurtigt for at hjælpe med at bygge tillid i KidUp-netværket.
        {{ void(textBlock.end()) }}
        {{ space.widget({height:10}) | raw }}
        {{ button.widget({'content': 'Tilføj verifikationer', 'url': vm.verifyUrl, 'wide': false}) | raw }}
    {{ void(column.end()) }}
{{ void(table.end()) }}

{{ void(table.begin({bgColor: '#FFFFFF', outerTable: false})) }}
    {{ void(column.begin({width: 200, align: left})) }}
    <div class="imgpop">
        <img
                src="{{ imageUrl('kidup/graphics/review.png') | raw }}"
                alt="" border="0" width="150"
                height="150"
                style="display:block; border:none; outline:none; text-decoration:none;"
                class="col2img" st-image="edit"
                id="gcxt4sjjt76i529">
    </div>
    {{ void(column.end()) }}
    {{ void(column.begin({width: 350, align: left})) }}
        {{ title.widget({content: 'Kom i gang'}) | raw }}
        {{ space.widget({height:10}) | raw }}
        {{ void(textBlock.begin()) }}
        Find det udstyr, du er vild med, og kontakt udlejeren. Når de har bekræftet din leje, er du klar til at tage dit nye udstyr i brug.
        {{ void(textBlock.end()) }}
        {{ space.widget({height:10}) | raw }}
        {{ button.widget({'content': 'Gå på opdagelse', 'url': vm.searchUrl, 'wide': false}) | raw }}
        {{ void(column.end()) }}
{{ void(table.end()) }}
{{ void(outerTable.end()) }}