{{ void(table.begin({bgColor: '#FFFFFF'})) }}

    {{ greeter.widget({name: vm.profileName}) | raw }}

    {{ void(textblock.begin()) }}
        Vi er glade for at kunne meddele dig at du har lejet
        {{ vm.itemName }}.
    {{ void(textblock.end()) }}

    {{ void(textblock.begin()) }}
        {{ vm.ownerName }} har bekræftet din anmodning om {{ vm.itemName }} se detaljerne for
        din leje og kontakt din
        <a href="{{ vm.chatUrl }}">vært</a> for at koordinere
        udvekslingstidspunkt og udvekslingssted.
    {{ void(textblock.end()) }}

    {{ void(textblock.begin()) }}
        Du kan se oplysninger om bestillingen <a href="{{ vm.bookingUrl }}">her</a>.
    {{ void(textblock.end()) }}

    {{ space.widget({height: 15}) | raw }}

    {{ void(textblock.begin()) }}
        <strong>Information omkring udstyret:</strong>
        <br />
        Du har lånt en {{ vm.itemName }}.
    {{ void(textblock.end()) }}

    {{ space.widget({height: 15}) | raw }}

    {{ void(textblock.begin()) }}
        <strong>Information omkring længden af lånet:</strong>
        <br />
        Du har lånt {{ vm.itemName }} fra d. {{ timestampToDate(vm.startDate) }}
        til {{ timestampToDate(vm.endDate) }}.
        Ønsker du i slutningen af lånet at beholde {{ vm.itemName }}
        yderligere, så kan du
        kontakte {{ vm.ownerName }}.
    {{ void(textblock.end()) }}

    {{ void(textblock.begin()) }}
        <strong>Information omkring udlejers krav:</strong>
        <br />
        Husk, at vi altid passer på hinandens ting, og behandler dem som var
        de vore egne.
        Det indebærer selvfølgelig en god rengøring af barnevognen inden den
        leveres tilbage til
        {{ vm.ownerName }}, det samme gør {{ vm.ownerName }} nemlig inden du får den i
        hænderne første gang.
        Hvis noget skulle gå i stykker, så kontakt {{ vm.ownerName }} og få det snakket
        igennem, kan i ikke komme
        til en løsning er vi selvfølgelig sikker på, at vi
        nok skal finde frem
        til et resultat i fællesskab!
    {{ void(textblock.end()) }}

{{ void(table.end()) }}