{{ void(table.begin({bgColor: '#EEEEEE'})) }}

    {{ space.widget({height: 20}) | raw }}

    {{ greeter.widget({name: vm.profileName}) | raw }}

    {{ void(textBlock.begin()) }}
        Vi er glade for at kunne fortælle dig, at en forælder har
        booket {{ vm.itemName }}!
        For at gøre udvekslingen af udstyret problemfri foreslår vi, at
        du fortsætter samtalen
        med {{ vm.renterName }} Via KidUp’s meddelelsessystem for at
        bekræfte jeres
        udvekslingstidspunkt, stille eventuelle spørgsmål og hjælpe dem
        med at finde ud af,
        hvordan man nemmest kommer frem til din adresse.
        {{ void(textBlock.end()) }}
        {{ space.widget({height: 15}) | raw }}
        {{ void(textBlock.begin()) }}
        Tak fordi du deler dit udstyr via KidUp
    {{ void(textBlock.end()) }}
{{ void(table.end()) }}

{{ void(table.begin({bgColor: '#FFFFFF'})) }}

    {{ space.widget({height: 10}) | raw }}

    {{ void(textBlock.begin()) }}
    Udstyrsudleje
    {{ void(textBlock.end()) }}

    {{ space.widget({height: 10}) | raw }}

{{ void(table.end()) }}

{{ void(table.begin({bgColor: '#FFFFFF'})) }}

    {{ space.widget({height: 10}) | raw }}

    {{ void(textBlock.begin()) }}
    Bekræftelseskode: {{ vm.payinId }}
    {{ void(textBlock.end()) }}

    {{ space.widget({height: 10}) | raw }}

{{ void(table.end()) }}

{{ void(table.begin({bgColor: '#FFFFFF'})) }}

    {{ space.widget({height: 10}) | raw }}

    {{ void(textBlock.begin()) }}
    Udstyr: {{ vm.itemName }}
    {{ void(textBlock.end()) }}

    {{ space.widget({height: 10}) | raw }}

{{ void(table.end()) }}

{{ void(table.begin({bgColor: '#FFFFFF'})) }}

    {{ space.widget({height: 10}) | raw }}

    <table width="100%">
        <tr>
            {{ void(textBlock.begin({row: false, width: '50%', align: 'center'})) }}
            Udleje starter<br />
            <strong>{{ timestampToDate(vm.startDate) }}</strong>
            {{ void(textBlock.end()) }}

            {{ void(textBlock.begin({row: false, width: '50%', align: 'center'})) }}
            Udleje slutter<br />
            <strong>{{ timestampToDate(vm.endDate) }}</strong>
            {{ void(textBlock.end()) }}
        </tr>
    </table>

    {{ space.widget({height: 10}) | raw }}

{{ void(table.end()) }}

{{ button.widget({content: "Se udstyrudleje", url: vm.bookingUrl}) | raw }}